################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/PythonSettings.json
/.vs/ProjectSettings.json
/.vs/group3/v16/.suo
/src/__pycache__
/src/react-components/node_modules
/server/__pycache__
/.idea
/.vs
/group3.sln
/group3.pyproj
/group3
