################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/PythonSettings.json
/.vs/ProjectSettings.json
/.vs/group3/v16/.suo
